<!DOCTYPE html>
<html lang="en">
<head>
    <% include head.html %>
</head>
<body>

<input type="name">
<input type="password">

<button class="submit">register</button>


<% include foot.html %>

<script>
    $('.submit').click(function () {
        var name = $('input[type=name]').val();
        var pwd = $('input[type=password]').val();
        if (!name) {toast('输入用户名！'); return;}
        if (!pwd) {toast('输入密码！'); return;}
        $.ajax({
            url: '/reg',
            type: 'POST',
            data: {
                name: name,
                pwd: pwd
            },
            success: function (res) {
                console.log(res);
                if (res.code === 200 && res.data) {
                    toast('注册成功');
                    setTimeout(function () {
                        location.href = '/login';
                    }, 2000);
                } else {
                    toast(res.message);
                }
            }
        })
    });

</script>
</body>
</html>